<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eat Da Burger!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgerScript.js"></script>
</head>

<body>
    <div class="container text-center mt-5">
        <img class="img-fluid mb-4" src="/assets/img/burger.png" alt="Burger Image">
        {{{ body }}}
    </div>
</body>

</html>